<div class="container">
    <div class="row">
        <div class="col-ms-12 col-md-5 left">
            <img src="assets/img/profile.jpg" class="img-fluid" alt="Ding Profile Image">
            <div class="socialList">
                <ul>
                    <li>
                        <a href="https://instagram.com/blacktinybun/" target="_blank"><img src="assets/img/Ins.png"
                                alt="Ins Logo"></a>
                    </li>
                    <li>
                        <a href="https://youtube.com/channel/UCCS1m_dGPeKAghYBpKKuNlA" target="_blank"><img
                                src="assets/img/yt.png" alt="Yt Logo"></a>
                    </li>
                    <li>
                        <a href="https://space.bilibili.com/541440413" target="_blank"><img
                                src="assets/img/bilibili.jpg" alt="Bili Logo"></a>
                    </li>
                    <li>
                        <a href="http://facebook.com/profile.php?id=100013410334312" target="_blank"><img
                                src="assets/img/fb.jpg" alt="Fb Logo"></a>
                    </li>
                    <li>
                        <a href="https://500px.com/p/dingphotography120?view=photos" target="_blank"><img
                                src="/assets/img/500px.png" alt="500px Logo"></a>
                    </li>
                </ul>
            </div>
            <!-- <p>ningphotography@outlook.com</p> -->
        </div>
        <div class="col-ms-12 col-md-2">

        </div>
        <div class="col-ms-12 col-md-5 right">
            <div>
                <h4> xxx xxx is a Programmer and Photographer based in Massachusetts currently and woking everywhere.
                </h4>
                <p>xxx xxx programmed this photograph portfolio website from scratch, designed and architected it
                    using Adobe tools and MEAN stack frameworks. She has strong passion on photography since she got her
                    first DSLR camera. She comes from China
                    and has been accomplished her Master Degree in the United State 2018, currently works as a
                    programmer. Being active in her iridescent life, she enjoys cooking, working out and get-togethering
                    with friends. Traveling around the world,
                    she vlogged and shooted the amazing moments and interesting people she met in life. She hopes her
                    works are able to make you happy and warm.
                </p>
            </div>

        </div>
    </div>
</div>