<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-5 left">
            <img src="assets/img/profile.jpg" class="img-fluid" alt="Ning Ding Profile Image">
            <p>social icons xx xx xx xx</p>
            <p>ningphotography@outlook.com</p>
        </div>
        <div class="col-xs-12 col-sm-2">

        </div>
        <div class="col-xs-12 col-sm-5 right">
            <div>
                <h4> Ning Ding is a Programmer and Photographer based in Massachusetts and woking everywhere. </h4>
                <p>The following example shows how to get a three equal-width columns starting at tablets and scaling to large desktops. On mobile phones, the columns will automatically stack: The following example shows how to get a three equal-width columns
                    starting at tablets and scaling to large desktops. On mobile phones, the columns will automatically stack: The following example shows how to get a three equal-width columns starting at tablets and scaling to large desktops. On mobile
                    phones, the columns will automatically stack:
                </p>
            </div>

        </div>
    </div>
</div>
<!-- <footer>
    <p><a [routerLink]="['/main/works']">Works</a></p>
    <p><a [routerLink]="['/main/contact']">Contact Me</a></p>
</footer> -->