<div class="container">
    <div class="row">
        <form class="formWrap" (ngSubmit)="onLogin(loginForm)" #loginForm="ngForm">
            <label for="email"><span>Email</span><input name="email" [(ngModel)]="model.email" #email="ngModel"
                    [ngClass]="{'isinvalid':loginForm.submitted && email.invalid}" required email type="text"></label>
            <div *ngIf="loginForm.submitted && email.invalid" class="invalideMessage">
                <div *ngIf="email.errors?.required">email is required</div>
                <div *ngIf="email.errors?.email">email must be a valid email</div>
            </div>
            <label for="username"><span>Username</span><input name="username" [(ngModel)]="model.username"
                    #username="ngModel" [ngClass]="{'isinvalid':loginForm.submitted && username.invalid}" required
                    type="text"></label>
            <div *ngIf="loginForm.submitted && username.invalid" class="invalideMessage">
                <div *ngIf="username.errors?.required">username is required</div>
            </div>
            <label for="password"><span>Password</span><input name="password" [(ngModel)]="model.password"
                    #password="ngModel" [ngClass]="{'isinvalid':loginForm.submitted && password.invalid}" required
                    type="text"></label>
            <div *ngIf="loginForm.submitted && password.invalid" class="invalideMessage">
                <div *ngif="password.errors?.required">
                    password is required
                </div>
            </div>
            <div><button type="submit">Login</button></div>
        </form>
    </div>
</div>