<div class="container">
    <div class="row">
        <form class="formWrap" (ngSubmit)="onSignup(signupForm)" #signupForm="ngForm">
            <label for="email"><span>Email</span><input name="email" [(ngModel)]="model.email" #email="ngModel"
                    [ngClass]="{'isinvalid':signupForm.submitted && email.invalid}" required email type="text"></label>
            <div *ngIf="signupForm.submitted && email.invalid" class="invalideMessage">
                <div *ngIf="email.errors?.required">email is required</div>
                <div *ngIf="email.errors?.email">email must be a valid email</div>
            </div>
            <label for="username"><span>Username</span><input name="username" [(ngModel)]="model.username"
                    #username="ngModel" [ngClass]="{'isinvalid':signupForm.submitted && username.invalid}" required
                    type="text"></label>
            <div *ngIf="signupForm.submitted && username.invalid" class="invalideMessage">
                <div *ngIf="username.errors?.required">username is required</div>
            </div>
            <label for="password"><span>Password</span><input name="password" [(ngModel)]="model.password"
                    #password="ngModel" [ngClass]="{'isinvalid':signupForm.submitted && password.invalid}" required
                    type="password"></label>
            <div *ngIf="signupForm.submitted && password.invalid" class="invalideMessage">
                <div *ngIf="password.errors?.required">password is required</div>
            </div>
            <label for="code">Invitation Code<input name="code" [(ngModel)]="model.code" #code="ngModel" required
                    [ngClass]="{'isinvalid':signupForm.submitted && code.invalid}" type="text"></label>
            <div *ngIf="signupForm.submitted && code.invalid" class="invalideMessage">
                <div *ngIf="code.errors?.required">code is required</div>
            </div>
            <div><button type="submit">Signup</button></div>
        </form>
    </div>
</div>