<form [formGroup]="form" (submit)="onSubmit()">
    <div>
        <div>
            <select formControlName="category">
                <option value="">--Select a category--</option>
                <option value="landscape">landscape</option>
                <option value="life">life</option>
                <option value="portrait">portrait</option>
            </select>
        </div>
        <input type="file" (change)="onImagePicked($event)" accept="image/*" multiple #imagesInput>
        <div *ngIf="imagesPreview.length && form.get('images').valid">
            <div *ngFor="let imagePreview of imagesPreview">
            <img class="image-preview" [src]="imagePreview">
        </div>
        </div> 
        <!-- <div *ngIf="(!imagesPreview.length || form.get('images').invalid)">
            Select images
        </div> -->
    </div>
    <button type="submit">Upload</button>
</form>
