.wrapper {
    display: flex;
    flex-direction: column;
    // width: 100vw;
    margin: 0 3rem;
    // font-family: fantasy;
    app-nav-bar {
        min-height: 4rem;
        z-index: 16;
    }
}