// .table {
//     margin: 3rem;
//     .container {
//         .row {
//             .col-sm-4 {
//                 padding: 15px;
//             }
//         }
//     }
// }
.wrap {
    margin: 2rem;
    .row {
        margin: 1rem;
        display: flex;
        flex-flow: column wrap;
        align-content: space-between;
        height: 900px;
        .fade-in {
            opacity: 1;
            transform: translate(0, 10vh);
            transition: opacity 2s;
            width: 32%;
            .img {
                width: 100vw;
            }
        }
        .fade-in.visible {
            opacity: 1;
            transform: translate(0, 0);
        }
    }
    .footer {
        display: flex;
        justify-content: space-around;
        // position: fixed;
        bottom: 0;
        // width: 100vw;
    }
}

.fade-in:nth-child(3n+1) {
    order: 1;
}

.fade-in:nth-child(3n+2) {
    order: 2;
}

.fade-in:nth-child(3n) {
    order: 3;
}

.row::before,
.row::after {
    content: "";
    flex-basis: 100%;
    width: 0;
    order: 2;
}