@media (min-width: 768px) and (max-width: 12450px) {
    /* Styles */
    .container {
        .row {
            // margin: 1rem;
            display: flex;
            flex-flow: column wrap;
            align-content: space-between;
            text-align: center;
            height: 4400px;
            .fade-in {
                // opacity: 1;
                transform: translate(0, 10vh);
                // transition: all 1s;
                width: 32%;
                margin: 0.7rem 0;
                // border-radius: 10px;
                .img-fluid {
                    width: 100vw;
                    border-radius: 6px;
                    box-shadow: 0 4px 4px rgb(0 0 0 /12%);
                    animation: fadeIn ease 4s;
                    -webkit-animation: fadeIn ease 4s;
                    -moz-animation: fadeIn ease 4s;
                    -o-animation: fadeIn ease 4s;
                    -ms-animation: fadeIn ease 4s;
                }
                @keyframes fadeIn {
                    0% {
                        opacity: 0;
                    }
                    100% {
                        opacity: 1;
                    }
                }
                @-moz-keyframes fadeIn {
                    0% {
                        opacity: 0;
                    }
                    100% {
                        opacity: 1;
                    }
                }
                @-webkit-keyframes fadeIn {
                    0% {
                        opacity: 0;
                    }
                    100% {
                        opacity: 1;
                    }
                }
                @-o-keyframes fadeIn {
                    0% {
                        opacity: 0;
                    }
                    100% {
                        opacity: 1;
                    }
                }
                @-ms-keyframes fadeIn {
                    0% {
                        opacity: 0;
                    }
                    100% {
                        opacity: 1;
                    }
                }
            }
            .fade-in.visible {
                opacity: 1;
                transform: translate(0, 0);
            }
        }
        .footer {
            display: flex;
            justify-content: space-around;
            // position: fixed;
            bottom: 0;
            // width: 100vw;
            div {
                display: flex;
                cursor: pointer;
                font-size: 25px;
            }
        }
        .fade-in:nth-child(3n + 1) {
            order: 1;
        }
        .fade-in:nth-child(3n + 2) {
            order: 2;
        }
        .fade-in:nth-child(3n) {
            order: 3;
        }
        .row::before,
        .row::after {
            content: '';
            flex-basis: 100%;
            width: 0;
            order: 2;
        }
    }
}

@media (max-width: 767px) {
    /* Styles */
    .container {
        .row {
            margin: 1rem auto;
            text-align: center;
            .fade-in {
                margin: 1rem;
                border-radius: 10px;
                box-shadow: 0 4px 4px rgb(0 0 0 /25%);
                .img-fluid {
                    width: 100vw;
                    border-radius: 10px;
                }
            }
        }
        .footer {
            display: flex;
            justify-content: space-around;
            bottom: 0;
            div {
                display: flex;
                cursor: pointer;
                font-size: 25px;
            }
        }
    }
}